<p id="notice"><%= notice %></p>

<aside>
    <%= render partial: 'questions/hot_topics', collection: @hot_topics %>
</aside>

<h1>Questions</h1>

<div>
  <%= link_to "week", set_current_params(period: 'week') %>
  <%= link_to "month", set_current_params(period: 'month') %>
  <%= link_to "year", set_current_params(period: 'year') %>
</div>

<%= paginate @questions, window: 1 %>

<table>
  <thead>
    <tr>
      <th>Statement</th>
      <th>Text</th>
      <th>Discipline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.statement %></td>
        <td><%= question.text %></td>
        <td><%= question.discipline %></td>
        <td><%= link_to 'Show', question %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @questions, window: 1 %>

<br>
