<p id="notice"><%= notice %></p>

<p>
  <strong>Statement:</strong>
  <%= @question.statement %>
</p>

<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

<p>
  <strong>Discipline:</strong>
  <%= @question.discipline %>
</p>

<%= link_to 'Back', questions_path %>
